
in order to avoid annoying hardware issues at system boot,
set your used pins to output and adjust their default status
Pins as BCM format

/boot/config.txt
gpio=17,22,5,6,13,19,26,18,23,24,25,12,16,20,21=op,dl
gpio=27=op,dh


dash==1.18.1
Adafruit-DHT==1.4.0 # for DHT-22 sensor
APScheduler==3.6.3
numpy==1.19.4
pandas==1.1.4
python-dateutil==2.8.1
pytz==2020.4
simple-pid==0.2.4
six==1.15.0
tzlocal==2.1
